.cardsTab{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem;
}

.movieCard {
  max-height: 600px;
}

.movieCardImg {
  max-width: 250px;
  display: block;
  text-align: center;
  padding: auto;
  margin: auto;
}

.title {
  text-overflow: ellipsis
}

.overwiew {
  margin-top: 10px;
  height: 130px;
  overflow: hidden;
}