*{
  box-sizing: border-box;
}


.movieCard {
  margin-bottom: 10px;
}

.title {
  text-overflow: ellipsis
}

.contentStyle{
  height: 650px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #001529;
}

.contentStyle img{
margin-top: 20px;
}